<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ytlink</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Enter the Youtube Link</h1>

    <form action="{{ url_for('output')}}" method="post">
    	<input type="text" name="output"  placeholder="Youtube Link" required="required" />
       
        <button type="submit" value = 'output' name = 'output' class="btn btn-primary btn-block btn-large">Go</button>
    </form>


   <br>
   <br>
   

 </div>


</body>
</html>
